[Unit]
Description=XPower AQCH miner timer

[Timer]
OnBootSec=120
OnCalendar=hourly
Persistent=true
Unit=aqch-start@%i.service

[Install]
WantedBy=timers.target
