[Unit]
Description=XPower CPU miner timer

[Timer]
OnBootSec=120
OnCalendar=hourly
Persistent=true
Unit=cpu-start@%i.service

[Install]
WantedBy=timers.target
