[Unit]
Description=XPower LOKI miner
StartLimitIntervalSec=0
After=network.target

[Service]
WorkingDirectory=/opt/xpower-hh
EnvironmentFile=/opt/xpower-hh/.env
ExecStart=npx hardhat mine --network mainnet --json true --level %i loki
Restart=on-failure
RestartSec=60
Nice=10

[Install]
WantedBy=default.target
