[Unit]
Description=XPower QRSH miner timer

[Timer]
OnBootSec=120
OnCalendar=hourly
Persistent=true
Unit=qrsh-start@%i.service

[Install]
WantedBy=timers.target
